@import "antd/dist/antd.css";

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
}

.display {
  border: 3px black solid;
  position: relative;
  min-height: 360px;
  min-width: 480px;
}

.result {
  width: 40vw;
}
.video {
  position: absolute;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
  width: 480;
  height: 360;
}

.canvas {
  position: absolute;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  width: 480;
  height: 360;
}
